::-webkit-scrollbar {
  width:5px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #7fffee83;
}

::-webkit-scrollbar-thumb:hover {
  background: #7fffee;
}

body{
  font-family: adobe-fangsong-std;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: aquamarine;
  background-color: black;
}

input{
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 95px;
  height: 15px;
  border: 0px;
  border-style: dotted;
  border-color: rgb(55, 43, 226);
  color: rgba(0, 255, 234, 0.822);
  background-color: rgba(10, 10, 10, 0.753);
}

.datetime-bar{
  height: 2rem;
  width: 100%;
  position: fixed;
  display: flexbox;
  bottom: -13px;
  right: 0px;
  color: rgba(0, 255, 179, 0.493);
  background-color: rgba(10, 10, 10, 0.726);
}

.greg{
  font-size: 0.9rem;
  position: fixed;
  bottom: -3px;
  left: 0px;
  background-color: rgba(10, 10, 10, 0.726);
  
}

.luna{
  font-size: 0.9rem;
  position: fixed;
  bottom: -3px;
  left: 75px;
  /* background-color: rgba(10, 10, 10, 0.726); */
}

.time{
  font-size: 0.8rem;
  position: fixed;
  bottom: -2px;
  right: 70px;
}

button{
  color: rgba(0, 255, 179, 0.493);
  border-color: #7fffee70;
  border-radius: 15%;
  background-color: rgba(0, 0, 0, 0.493);
  font-size: 0.7rem;
}

.blossoms{
  position: fixed;
  right: 0px;
}